.image-options {
  display: flex;
  align-items: center;

  .image-options-label {
    flex: 0 0 auto;
    white-space: nowrap;
  }

  &.target-size-row {
    margin-top: 8px;
  }

  > div:first-child {
    margin-right: 10px;
  }

  .ranger {
    flex: 1;
    min-width: 0;
  }

  .percent-symbol {
    flex: 0 0 auto;
    white-space: nowrap;
    margin-left: 4px;
  }
}
