.select {
  position: relative;
  display: inline-block;
  transition: border-color .3s;

  select {
    position: relative;
    -webkit-appearance: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: 0;
    background: #fff;
    color: #333;
    cursor: pointer;
    padding: 6px 30px 6px 10px;
    width: 100%;
    min-width: 130px;
    box-sizing: border-box;
    z-index: 1;
  }

  .icon {
    position: absolute;
    right: 8px;
    top: 10%;
    bottom: 0;
    height: 80%;
  }
}
